@import '../css/slick.css';
@import '../css/slick-theme.css';
@import '../css/magnific-popup.css';
@import 'constants/constants.scss';
@import 'header/header.scss';
@import 'main-page/main-page.scss';
@import 'about/about.scss';
@import 'services/services.scss';
@import 'discover/discover.scss';
@import 'testimonials/testimonials.scss';
@import 'blog/blog.scss';
@import 'offer/offer.scss';
@import 'footer/footer.scss';
@import 'btn/btn.scss';

@import 'modal/modal.scss';
@import 'for-companies/for-companies.scss';
@import 'tax-device/tax-device.scss';
@import 'accounting/accounting.scss';
@import 'coaching/coaching.scss';

@import 'contact-services/contact.scss';
@import 'contact-services/services.scss';

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #044BD8;
    cursor: pointer;
    opacity: .5;
}

body::-webkit-scrollbar-track {
    background: #f2f2f2;
    cursor: pointer;
}

button, button:hover, button:focus, button:active, select:hover, select:active, select:focus, select {
	outline: none !important;
}

.a2a_kit {
	position: absolute;
	z-index: -1;
}