header {
    position: absolute;
    width: 100%;
    @media (max-width: 1280px) {
        width: 94%;
        padding: 0 35px;
    }
    @media (max-width: 990px) {
        background: #fff;
        position: fixed;
        width: auto;
        left: 0;
        right: -1px;
        padding: 0 20px;
        top: -1px;
        z-index: 9999;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    }
    @media (max-width: 576px) {
        padding: 0 12px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        @media (max-width: 990px) {
            display: none;
        }

        li {
            margin-bottom: 20px;
            @media (max-width: 990px) {
                margin-bottom: 0;
                line-height: 0;
            }
            &:last-child {
                margin: 0;
                padding-bottom: 15px;
            }
        }
        a {
            letter-spacing: 2px;
            font: 300 1.25rem 'Barlow', sans-serif;
            position: relative;
            color: #fff;
            transition: .35s ease;
            @media (max-width: 990px) {
                color: #00226E;
                display: block;
                margin-bottom: 15px;
                font: 500 1rem 'Barlow', sans-serif;
            }
            &:hover {
                transition: .35s ease;
                @media (max-width: 990px) {
                    font: 300 1rem 'Barlow', sans-serif;
                }
                &::after {
                    transition: .35s ease;
                    content: '';
                    height: 2px;
                    background: linear-gradient(178.26deg, #FFC200 0%, #FF785E 100%);
                    border-radius: 2px;
                    display: block;
                    width: 100%;
                    position: absolute;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
        }
    }
}


header nav a[aria-current="page"] {
    transition: .3s ease;
    font: 500 1.25rem 'Barlow', sans-serif;
    @media (max-width: 990px) {
        font: 300 1rem 'Barlow', sans-serif;
    }
    &::after {
        transition: .35s ease;
        content: '';
        height: 2px;
        background: linear-gradient(178.26deg, #FFC200 0%, #FF785E 100%);
        border-radius: 2px;
        display: block;
        width: 100%;
        position: absolute;
        @media (max-width: 990px) {
            display: none;
        }
    }
}

nav > ul > li {
    position: relative;
    font: 300 20px 'Barlow', sans-serif;
    @media (max-width: 990px) {
        font: 500 1rem 'Barlow', sans-serif;
    }
    a{
        &:hover {
            transition: .35s ease;
            display: inline-block;
            color: #feb60f;
            border: none;
            @media (max-width: 990px) {
                font: 500 1rem 'Barlow', sans-serif;
            }
        }
    }
}

nav > ul > li > a {
    @media (max-width: 990px) { 
        margin-bottom: 10px;
    }
}

nav > ul > li:hover .sub-menu {
    display: block;
    a {
        &:after {
            display: none;
        }
    }
}

header nav ul.sub-menu a {
    @media (max-width: 990px) { 
        font: 300 .95rem 'Barlow', sans-serif;
        margin-bottom: 10px;
    }
}

header nav ul.sub-menu a[aria-current="page"] {
    color: #feb60f;
}

header nav .sub-menu {
  position: absolute;
  top: 5px;
  right: 90px;
  padding: 10px;
  z-index: 10;
  width: 210px;
  text-align: right;
  margin: 0;
  padding: 0;
  display: none;
  @media (max-width: 990px) { 
    display: block;
    position: static;
    text-align: left;
    padding: 0;
    list-style-type: circle;
  }

  li{
    margin: 0 10px 3px 0;
    @media (max-width: 990px) {
       margin: 0 0 0 20px;
       list-style-type: circle;

    }
    &:last-child {
        margin: 0 10px 3px 0;
        @media (max-width: 990px) { 
           margin: 0 0 0 20px;
           padding: 0;
        }
    }
  }
}

.menu-btn {
    display: none;
    cursor: pointer;
    @media (max-width: 990px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        height: 23px;
    }
}

.lang-menu > ul {
    display: flex;
}

#menu-item-19 {
    display: none;
}

#menu-item-9999999999 > a > span {
    color: #feb60f;
}

.sub-menu {
    display: flex;
}

.container-lang {
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 990px) {
        margin: 0;
        padding: 8px 0;
        justify-content: space-between;
    }

    li {
        margin-left: 10px;
        display: flex;
    }
    a {
        letter-spacing: 1px;
        font: 500 1.125rem 'Barlow', sans-serif;
        color: #fff;
        text-transform: uppercase;
        transition: .3s;
        @media (max-width: 990px) {
            color: #00226E;
        }
        @media (max-width: 576px) {
            font: 500 1rem 'Barlow', sans-serif;
        }
        &:hover {
            color: #feb60f;
        }
    }
}

.logo-phone-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @media (max-width: 990px) {
        margin: 0;
        padding-bottom: 10px;
    }
}

.logo-box {
    img {
        max-width: 100%;
        height: auto;
        @media (max-width: 576px) {
            height: 30px;
        }
        @media (max-width: 380px) {
            height: 20px;
        }
    }
}

.phone-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 576px) {
        align-items: flex-end;
    }
    .phone-link {
        color: #fff;
        font: 500 1.2rem 'Barlow', sans-serif;
        @media (max-width: 990px) {
            color: #00226E;
        }
        @media (max-width: 576px) {
            font: 500 .9rem 'Barlow', sans-serif;
        }
        &::before {
            content: url(../img/icon/phone-header.svg);
            position: relative;
            top: 5px;
            right: 7px;
            @media (max-width: 990px) {
                display: none;
            }
        }
        transition: .3s;
        &:hover {
            color: #feb60f;
        }
    }
    .phone-call {
        font: 500 .87rem 'Barlow', sans-serif;
        color: #FFF;
        cursor: pointer;
        opacity: .6;
        @media (max-width: 990px) {
            color: #000;
        }
    }
}